/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body{
  background-image: url("assets/img/darkrider.jpg");
  background-repeat: no-repeat;
  background-size: 1920px 1200px;
  background-position: center;
}

