<!-- Image and text -->
<div class="Navbar">
    <nav class="navbar navbar-light bg-warning">
    <a class="navbar-brand" href="../src/assets/img/colorful%20music%20logo.png">
    <img src="../assets/img/colorful music logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <h1>My Favorite Albums</h1>
    <!--Add Bands Website Links Here>-->
    </a>

      <a href="https://www.gunsnroses.com/">Guns N Roses</a>
      <a href="https://www.deftones.com/">Deftones</a>
      <a href="https://greenday.com/">Green Day</a>
      <a href="https://www.kornofficial.com/thenothing/?ref=https://www.google.com/">Korn</a>
      <a href="https://www.metallica.com/">Metallica</a>

    </nav>
</div>

<div class="container bg-warning">

  <!--  form-->
  <div class="card card-body mt-3 bg-danger">

    <form #albumForm="ngForm" (ngSubmit)="onSubmit(albumForm)" >
      <div class="form-group">
<!--          step 1 -->
        <label>Title</label>
<!--        step 2: -->
        <input
          type="text"
          name="title"
          class="form-control"
          [(ngModel)]="otherAlbum.title"
          [ngClass]="{'is-invalid': albumTitle.errors && albumTitle.touched}"
          #albumTitle="ngModel"
          required
          minlength="2"
        >
<!--        step 3: Validation: -->
        <div [hidden]="!albumTitle.errors?.required" class="invalid-feedback"
             class="invalid-feedback">
          Album Title Required
        </div>
        <div [hidden]="!albumTitle.errors?.minlength" class="invalid-feedback"
             class="invalid-feedback">
          Must be at least 3 characters
        </div>


      </div>
        <label>Artist</label>
        <input
          type="text"

          name="artist"
          class="form-control"
          [(ngModel)]="otherAlbum.artist"
          [ngClass]="{'is-invalid': albumArtist.errors && albumArtist.touched}"
          #albumArtist= "ngModel"
          required
          minlength="2"
        >
      <div [hidden]="!albumArtist.errors?.required" class="invalid-feedback"
           class="invalid-feedback">
        Album Title Required
      </div>
      <div [hidden]="!albumArtist.errors?.minlength" class="invalid-feedback"
           class="invalid-feedback">
        Must be at least 3 characters
      </div>

        <label>Songs</label>
        <input type="text" [(ngModel)]="otherAlbum.songs" name="songs" class="form-control">
        <label>Favorite</label>
        <input type="text" [(ngModel)]="otherAlbum.favorite" name="favorite" class="form-control">
        <label>Year</label>
        <input type="number" [(ngModel)]="otherAlbum.year" name="year" class="form-control">
        <label>Genre</label>
        <input type="text" [(ngModel)]="otherAlbum.genre" name="genre" class="form-control">
        <label>Units</label>
        <input type="number" [(ngModel)]="otherAlbum.units" name="units" class="form-control">




      <!--      button submits our form. add click even. create method in ts file-->
      <button (click)="addAlbum()" class="btb btn-dark">Add Album</button>
    </form>

<!--ADD AN ALBUM BUTTON>-->
<!--  <button (click)="addAlbum()" class="btn btn-block mb-3" [ngClass]="currentClasses">Add An Album</button>-->

  <ul class="list-unstyled">

    <li class="card card-body mb3 bg-warning" *ngFor="let album of albums">

      <div class="row">
        <div class="col-sm-4">
          <!--BINDING OUR iMAGE>-->
          <img [src]="album.cover" alt="" class="img-fluid">
        </div>
      </div>

      <div class="col-sm-8" >

        <!--CLICK TOGGLE BUTTON>-->
        <button (click)="toggleInfo(album)" class="btn btn-outline-success btn-lg ml-3">
          <i [ngClass]="album.hide ? 'fa fa-info-circle' : 'fa fa-info-circle'"></i>
<!--          i<i class="fas fa-info-circle"></i>-->
        </button>

        <!--Style TITLE AND ARTIST TO BOLD AND UNDERLINED>-->
        <h3 class="title" [ngStyle]="setCurrentStyle()">Title: {{ album.title | uppercase }} </h3>
<!--          <h3>Artist: {{ album.artist | uppercase }} </h3>-->
        <h3 class="title" [ngStyle]="setCurrentStyle()">Title: {{ album.artist | uppercase }} </h3>


          <!--STRUCTURAL DIRECTIVE>-->
        <ul *ngIf="album.hide" class="list-group">
          <li class="list-group-item">Songs: {{ album.songs }} </li>
          <li class="list-group-item">Favorite: {{ album.favorite }} </li>
          <li class="list-group-item">Year: {{ album.year }} </li>
          <li class="list-group-item">Genre: {{ album.genre }} </li>
          <li *ngIf="album.units" class="list-group-item">Units: {{ album.units | number:'1.0':'en-US'}} </li>
        </ul>




      </div>





    </li>


  </ul>







</div>
</div>
