body{

}
.title{
  font-weight: bold;
  text-decoration: underline;
  color: crimson;
  font-family: "Comic Sans MS";
}

.row{
  background-image: url("../../../assets/img/music rainbow.jpg");
}
a{
  color: crimson;
  text-decoration: underline;
  font-weight: bold;
}
label{
  color: black;
  font-weight: bold;
  font-family: "Comic Sans MS";
  font-size: large;
}
